
/****************************/
/*       padding top        */
/*      tipo : pixeles      */
/****************************/


.pt-10-px{
  padding-top: 10px !important;
}

.pt-20-px{
  padding-top: 20px !important;
}

.pt-30-px{
  padding-top: 30px !important;
}

.pt-40-px{
  padding-top: 40px !important;
}

.pt-50-px{
  padding-top: 50px !important;
}

.pt-60-px{
  padding-top: 60px !important;
}

.pt-70-px{
  padding-top: 70px !important;
}

.pt-80-px{
  padding-top: 80px !important;
}



/****************************/
/*        padding top       */
/*     tipo : porcentage    */
/****************************/


.pt-10-p{
  padding-top: 10% !important;
}

.pt-9-p{
  padding-top: 9% !important;
}

.pt-8-p{
  padding-top: 8% !important;
}

.pt-7-p{
  padding-top: 7% !important;
}

.pt-6-p{
  padding-top: 6% !important;
}

.pt-5-p{
  padding-top: 5% !important;
}

.pt-4-p{
  padding-top: 4% !important;
}

.pt-3-p{
  padding-top: 3% !important;
}

.pt-2-p{
  padding-top: 2% !important;
}

.pt-1-p{
  padding-top: 1% !important;
}



/****************************/
/*        padding top       */
/*         tipo : rem       */
/****************************/


.pt-10-r{
  padding-top: 10rem !important;
}

.pt-9-r{
  padding-top: 9rem !important;
}

.pt-8-r{
  padding-top: 8rem !important;
}

.pt-7-r{
  padding-top: 7rem !important;
}

.pt-6-r{
  padding-top: 6rem !important;
}

.pt-5-r{
  padding-top: 5rem !important;
}

.pt-4-r{
  padding-top: 4rem !important;
}

.pt-3-r{
  padding-top: 3rem !important;
}

.pt-2-r{
  padding-top: 2rem !important;
}

.pt-1-r{
  padding-top: 1rem !important;
}


/****************************/
/*     padding bottom       */
/*      tipo : pixeles      */
/****************************/


.pb-10-px{
  padding-bottom: 10px !important;
}

.pb-20-px{
  padding-bottom: 20px !important;
}

.pb-30-px{
  padding-bottom: 30px !important;
}

.pb-40-px{
  padding-bottom: 40px !important;
}

.pb-50-px{
  padding-bottom: 50px !important;
}

.pb-60-px{
  padding-bottom: 60px !important;
}

.pb-70-px{
  padding-bottom: 70px !important;
}

.pb-80-px{
  padding-bottom: 80px !important;
}



/****************************/
/*      padding bottom      */
/*     tipo : porcentage    */
/****************************/


.pb-10-p{
  padding-bottom: 10% !important;
}

.pb-9-p{
  padding-bottom: 9% !important;
}

.pb-8-p{
  padding-bottom: 8% !important;
}

.pb-7-p{
  padding-bottom: 7% !important;
}

.pb-6-p{
  padding-bottom: 6% !important;
}

.pb-5-p{
  padding-bottom: 5% !important;
}

.pb-4-p{
  padding-bottom: 4% !important;
}

.pb-3-p{
  padding-bottom: 3% !important;
}

.pb-2-p{
  padding-bottom: 2% !important;
}

.pb-1-p{
  padding-bottom: 1% !important;
}



/****************************/
/*      padding bottom      */
/*        tipo : rem        */
/****************************/


.pb-10-r{
  padding-bottom: 10rem !important;
}

.pb-9-r{
  padding-bottom: 9rem !important;
}

.pb-8-r{
  padding-bottom: 8rem !important;
}

.pb-7-r{
  padding-bottom: 7rem !important;
}

.pb-6-r{
  padding-bottom: 6rem !important;
}

.pb-5-r{
  padding-bottom: 5rem !important;
}

.pb-4-r{
  padding-bottom: 4rem !important;
}

.pb-3-r{
  padding-bottom: 3rem !important;
}

.pb-2-r{
  padding-bottom: 2rem !important;
}

.pb-1-r{
  padding-bottom: 1rem !important;
}



/****************************/
/*      padding left        */
/*      tipo : pixeles      */
/****************************/


.pl-10-px{
  padding-left: 10px !important;
}

.pl-20-px{
  padding-left: 20px !important;
}

.pl-30-px{
  padding-left: 30px !important;
}

.pl-40-px{
  padding-left: 40px !important;
}

.pl-50-px{
  padding-left: 50px !important;
}

.pl-60-px{
  padding-left: 60px !important;
}

.pl-70-px{
  padding-left: 70px !important;
}

.pl-80-px{
  padding-left: 80px !important;
}



/****************************/
/*       padding left       */
/*     tipo : porcentage    */
/****************************/


.pl-10-p{
  padding-left: 10% !important;
}

.pl-9-p{
  padding-left: 9% !important;
}

.pl-8-p{
  padding-left: 8% !important;
}

.pl-7-p{
  padding-left: 7% !important;
}

.pl-6-p{
  padding-left: 6% !important;
}

.pl-5-p{
  padding-left: 5% !important;
}

.pl-4-p{
  padding-left: 4% !important;
}

.pl-3-p{
  padding-left: 3% !important;
}

.pl-2-p{
  padding-left: 2% !important;
}

.pl-1-p{
  padding-left: 1% !important;
}



/****************************/
/*       padding left       */
/*        tipo : rem        */
/****************************/


.pl-10-r{
  padding-left: 10rem !important;
}

.pl-9-r{
  padding-left: 9rem !important;
}

.pl-8-r{
  padding-left: 8rem !important;
}

.pl-7-r{
  padding-left: 7rem !important;
}

.pl-6-r{
  padding-left: 6rem !important;
}

.pl-5-r{
  padding-left: 5rem !important;
}

.pl-4-r{
  padding-left: 4rem !important;
}

.pl-3-r{
  padding-left: 3rem !important;
}

.pl-2-r{
  padding-left: 2rem !important;
}

.pl-1-r{
  padding-left: 1rem !important;
}



/****************************/
/*      padding right       */
/*      tipo : pixeles      */
/****************************/


.pr-10-px{
  padding-right: 10px !important;
}

.pr-20-px{
  padding-right: 20px !important;
}

.pr-30-px{
  padding-right: 30px !important;
}

.pr-40-px{
  padding-right: 40px !important;
}

.pr-50-px{
  padding-right: 50px !important;
}

.pr-60-px{
  padding-right: 60px !important;
}

.pr-70-px{
  padding-right: 70px !important;
}

.pr-80-px{
  padding-right: 80px !important;
}



/****************************/
/*       padding right      */
/*     tipo : porcentage    */
/****************************/


.pr-10-p{
  padding-right: 10% !important;
}

.pr-9-p{
  padding-right: 9% !important;
}

.pr-8-p{
  padding-right: 8% !important;
}

.pr-7-p{
  padding-right: 7% !important;
}

.pr-6-p{
  padding-right: 6% !important;
}

.pr-5-p{
  padding-right: 5% !important;
}

.pr-4-p{
  padding-right: 4% !important;
}

.pr-3-p{
  padding-right: 3% !important;
}

.pr-2-p{
  padding-right: 2% !important;
}

.pr-1-p{
  padding-right: 1% !important;
}



/****************************/
/*       padding right      */
/*        tipo : rem        */
/****************************/


.pr-10-r{
  padding-right: 10rem !important;
}

.pr-9-r{
  padding-right: 9rem !important;
}

.pr-8-r{
  padding-right: 8rem !important;
}

.pr-7-r{
  padding-right: 7rem !important;
}

.pr-6-r{
  padding-right: 6rem !important;
}

.pr-5-r{
  padding-right: 5rem !important;
}

.pr-4-r{
  padding-right: 4rem !important;
}

.pr-3-r{
  padding-right: 3rem !important;
}

.pr-2-r{
  padding-right: 2rem !important;
}

.pr-1-r{
  padding-right: 1rem !important;
}


/****************************/
/*        padding y         */
/*      tipo : pixeles      */
/****************************/


.py-10-px{
  padding-top: 10px !important;
  padding-bottom: 10px !important; 
}

.py-20-px{
  padding-top: 20px !important;
  padding-bottom: 20px !important; 
}

.py-30-px{
  padding-top: 30px !important;
  padding-bottom: 30px !important; 
}

.py-40-px{
  padding-top: 40px !important;
  padding-bottom: 40px !important; 
}

.py-50-px{
  padding-top: 50px !important;
  padding-bottom: 50px !important; 
}

.py-60-px{
  padding-top: 60px !important;
  padding-bottom: 60px !important; 
}

.py-70-px{
  padding-top: 70px !important;
  padding-bottom: 70px !important; 
}

.py-80-px{
  padding-top: 80px !important;
  padding-bottom: 80px !important; 
}



/****************************/
/*         padding y        */
/*     tipo : porcentage    */
/****************************/


.py-10-p{
  padding-top: 10% !important;
  padding-bottom: 10% !important; 
}

.py-9-p{
  padding-top: 9% !important;
  padding-bottom: 9% !important; 
}

.py-8-p{
  padding-top: 8% !important;
  padding-bottom: 8% !important; 
}

.py-7-p{
  padding-top: 7% !important;
  padding-bottom: 7% !important; 
}

.py-6-p{
  padding-top: 6% !important;
  padding-bottom: 6% !important; 
}

.py-5-p{
  padding-top: 5% !important;
  padding-bottom: 5% !important; 
}

.py-4-p{
  padding-top: 4% !important;
  padding-bottom: 4% !important; 
}

.py-3-p{
  padding-top: 3% !important;
  padding-bottom: 3% !important; 
}

.py-2-p{
  padding-top: 2% !important;
  padding-bottom: 2% !important; 
}

.py-1-p{
  padding-top: 1% !important;
  padding-bottom: 1% !important; 
}



/****************************/
/*         padding y        */
/*        tipo : rem        */
/****************************/


.py-10-r{
  padding-top: 10rem !important;
  padding-bottom: 10rem !important; 
}

.py-9-r{
  padding-top: 9rem !important;
  padding-bottom: 9rem !important; 
}

.py-8-r{
  padding-top: 8rem !important;
  padding-bottom: 8rem !important; 
}

.py-7-r{
  padding-top: 7rem !important;
  padding-bottom: 7rem !important; 
}

.py-6-r{
  padding-top: 6rem !important;
  padding-bottom: 6rem !important; 
}

.py-5-r{
  padding-top: 5rem !important;
  padding-bottom: 5rem !important; 
}

.py-4-r{
  padding-top: 4rem !important;
  padding-bottom: 4rem !important; 
}

.py-3-r{
  padding-top: 3rem !important;
  padding-bottom: 3rem !important; 
}

.py-2-r{
  padding-top: 2rem !important;
  padding-bottom: 2rem !important; 
}

.py-1-r{
  padding-top: 1rem !important;
  padding-bottom: 1rem !important; 
}


/****************************/
/*        padding x         */
/*      tipo : pixeles      */
/****************************/


.px-10-px{
  padding-left: 10px !important;
  padding-right: 10px !important; 
}

.px-20-px{
  padding-left: 20px !important;
  padding-right: 20px !important; 
}

.px-30-px{
  padding-left: 30px !important;
  padding-right: 30px !important; 
}

.px-40-px{
  padding-left: 40px !important;
  padding-right: 40px !important; 
}

.px-50-px{
  padding-left: 50px !important;
  padding-right: 50px !important; 
}

.px-60-px{
  padding-left: 60px !important;
  padding-right: 60px !important; 
}

.px-70-px{
  padding-left: 70px !important;
  padding-right: 70px !important; 
}

.px-80-px{
  padding-left: 80px !important;
  padding-right: 80px !important; 
}



/****************************/
/*         padding x        */
/*     tipo : porcentage    */
/****************************/


.px-10-p{
  padding-left: 10% !important;
  padding-right: 10% !important; 
}

.px-9-p{
  padding-left: 9% !important;
  padding-right: 9% !important; 
}

.px-8-p{
  padding-left: 8% !important;
  padding-right: 8% !important; 
}

.px-7-p{
  padding-left: 7% !important;
  padding-right: 7% !important; 
}

.px-6-p{
  padding-left: 6% !important;
  padding-right: 6% !important; 
}

.px-5-p{
  padding-left: 5% !important;
  padding-right: 5% !important; 
}

.px-4-p{
  padding-left: 4% !important;
  padding-right: 4% !important; 
}

.px-3-p{
  padding-left: 3% !important;
  padding-right: 3% !important; 
}

.px-2-p{
  padding-left: 2% !important;
  padding-right: 2% !important; 
}

.px-1-p{
  padding-left: 1% !important;
  padding-right: 1% !important; 
}



/****************************/
/*         padding x        */
/*        tipo : rem        */
/****************************/


.px-10-r{
  padding-left: 10rem !important;
  padding-right: 10rem !important; 
}

.px-9-r{
  padding-left: 9rem !important;
  padding-right: 9rem !important; 
}

.px-8-r{
  padding-left: 8rem !important;
  padding-right: 8rem !important; 
}

.px-7-r{
  padding-left: 7rem !important;
  padding-right: 7rem !important; 
}

.px-6-r{
  padding-left: 6rem !important;
  padding-right: 6rem !important; 
}

.px-5-r{
  padding-left: 5rem !important;
  padding-right: 5rem !important; 
}

.px-4-r{
  padding-left: 4rem !important;
  padding-right: 4rem !important; 
}

.px-3-r{
  padding-left: 3rem !important;
  padding-right: 3rem !important; 
}

.px-2-r{
  padding-left: 2rem !important;
  padding-right: 2rem !important; 
}

.px-1-r{
  padding-left: 1rem !important;
  padding-right: 1rem !important; 
}
